/* body{
    width:1024px;
} */


body {background-color: cornflowerblue;}

#lblconsulta{
font-size: 25;
font-weight: bold;
color: white;
}

.btnSelect {border-radius: 50px;}
#dvmedicos {
    background-color: white;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
/*     width: 200px;
    height: 150px; */
  }
  
  .img {border-radius: 50px;}

  .btnAgendar {border-radius: 50px;}